.EP_Musikisum_EmbeddedHtml_Display {
  iframe {
    display: block;
    width: 100%;
    border: none;
  }
}

.EP_Musikisum_EmbeddedHtml_Editor {
  &-uploadRow {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-check {
    font-size: 18px;
    color: #52c41a;
  }
}
